<div class="container-fluid">
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<h2>Dette er min mini-Angular portfolio</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<p>Denne lille mini-portfolio side er lavet i Angular 6 og stylet med Boostrap som et projekt! Dette er min første Angular opgave.</p>
		</div>

		<div class="col-4">
			<p>I modsætning til min normale portfolio som er lavet i standard HTML+CSS. Angular er en alternativ måde at lave hjemmesider på!</p>
		</div>
		
		<div class="col-4">
			<p>Mon Angular og Bootstrap tager over standard HTML og CSS snart?</p>
		</div>
	</div>
</div>